@import "../../media.scss";
@import "../../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.InfoImageLeft {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  @include for-size(phone-only) {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  @include for-size(tablet-portrait-up) {
    padding: 0 20px;
  }
}

.InfoImageLeft_left {
  height: 50vh;
  width: 50%;
  overflow: hidden;
  @include for-size(phone-only) {
    max-height: 35vh;
    width: 100%;
    margin-top: 8px;
  }
  @include for-size(tablet-portrait-up) {
    width: 50%;
    height: 21vh;
  }
}

.InfoImageLeft_left img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.InfoImageLeft_right {
  width: 50%;
  padding-left: 40px;
  @include for-size(phone-only) {
    width: 100%;
    padding-left: 0;
  }
  .description_text {
    @include for-size(phone-only) {
      text-align: center;
      width: 100%;
    }
  }
  .description_text > span {
    font-weight: 500;
    color: #333333;
    @include for-size(phone-only) {
      font-size: small;
      font-weight: 500;
    }
  }

  .description_text > p {
    width: 60%;
    font-weight: 500;
    @include for-size(phone-only) {
      font-size: small;
      margin: 6px 0;
      margin-bottom: 8px;
      width: 100%;
    }
    // @include for-size(tablet-portrait-up) {
    //   text-align: center;
    // }
  }
}
