@import "../../media.scss";
@import "../../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.banner {
  display: flex;
  align-items: center;
  padding: 0 60px;
  margin: 100px auto;
  @include for-size(phone-only) {
    flex-wrap: wrap;
    margin: 0px;
    padding: 0;
  }
  @include for-size(tablet-portrait-up) {
    padding: 0 20px;
  }
}
.banner_left {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  text-align: left;
  @include for-size(phone-only) {
    padding: 0 20px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
.banner_left > h1 {
  color: #462686;
  font-weight: 700px;

  @include for-size(phone-only) {
    font-size: large;
  }
}
.banner_left > p {
  display: inline-block;
  margin-bottom: 40px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.8);

  @include for-size(phone-only) {
    font-size: small;
    margin-top: 20px;
    width: 70vw;
  }
}
.banner_right > img {
  height: 100%;
  object-fit: contain;
}
.banner_right {
  @include for-size(phone-only) {
    height: 25vh;
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  @include for-size(tablet-portrait-up) {
    height: 35vh;
  }
}
