.banner {
  display: flex;
  align-items: center;
  padding: 0 60px;
  height: 100vh;
  margin: 100px auto;
}
.banner_left {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.banner_left > h1 {
  color: #462686;
  font-weight: 700px;
}
.banner_left > p {
  display: inline-block;
  margin-bottom: 40px;
  color: rgba(51, 51, 51, 0.8);
}
