.customersupport {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px 80px 100px;
}
.customersupport_left {
  display: flex;
  /* justify-content: space-between; */
  /* width: 50%; */
  align-items: center;
}
.customersupport_left_image {
  height: 250px;
  margin-left: 60px;
}
.customersupport_left_image img {
  object-fit: contain;
  height: 100%;
}
.customersupport_right {
  width: 50%;
}
