.InfoImageRight {
  display: flex;
  align-items: center;
  padding: 30px 80px;

  /* margin: 100px auto; */
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .InfoImageRight_right {
  width: 50%;
} */
.InfoImageRight_left {
  width: 50%;
}
.InfoImageRight_dashboard {
  height: 300px;
  /* width: 100%; */
  border: 1px solid rgba(69, 69, 69, 0.13);
}
.InfoImageRight_dashboard img {
  height: 100%;
  /* width: auto; */
  object-fit: contain;
}
