.bannartwo {
  display: flex;
  margin: 60px;
  height: 70vh;
}
.bannartwo_first {
  align-self: flex-end;
}
/* .bannartwo_first > img {
} */
.bannartwo_middle {
  color: #462686;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannartwo_middle > span {
  display: inline-block;
  margin: 0 0 60px 0;
}
.bannartwo_middle > h1 {
  width: 80%;
  text-align: center;
}
