@import "../../media.scss";
@import "../../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.Testimonial {
  display: flex;
  /* font-size: small; */
  flex-direction: column;
  padding: 60px;
  @include for-size(phone-only) {
    padding: 20px;
  }
}
.Testimonial > p {
  width: 60vw;
  font-weight: 500;
  text-align: center;
  color: #333333;
  margin: 30px auto;
  @include for-size(phone-only) {
    width: 80vw;
  }
}
.Testimonial_profile {
  display: flex;
  align-items: center;
  margin: 5px auto;
}
.Testimonial_content {
  display: flex;
  align-items: center;
  margin: auto 30px;
}
.Testimonial_content_details {
  display: flex;
  flex-direction: column;
}
/* .Testimonial_content_details > span {
    font
} */
.Testimonial_content_details > span:nth-child(1) {
  display: inline-block;
  margin-bottom: 5px;
  font-size: medium;
  font-weight: 500;
}
.Testimonial_space {
  width: 250px;
  border: 1px solid rgba(51, 51, 51, 0.4);
  @include for-size(phone-only) {
    display: none;
  }
}
.Testimonial_imagewrap {
  height: 130px;
  margin-right: 25px;
}

.Testimonial_imagewrap > img {
  height: 100%;
  object-fit: contain;
}
.Testimonial_profile {
  .PersonalInfo_content {
    position: relative;
    margin: 0 auto;
    &:after {
      display: inline-block;
      margin: 0 0 8px 20px;
      height: 1px;
      content: " ";
      text-shadow: none;
      background-color: rgb(51, 51, 51);
      width: 200px;
      @include for-size(phone-only) {
        display: none;
      }
    }
    &:before {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 1px;
      content: " ";
      text-shadow: none;
      background-color: rgb(51, 51, 51);
      width: 200px;
      @include for-size(phone-only) {
        display: none;
      }
    }
  }
}
.Testimonial_content_details > span:nth-child(2) {
  color: #333333;
  font-size: small;
  font-weight: 500;
  @include for-size(phone-only) {
    font-size: small;
  }
}
