.supportOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.supportOption_img {
  height: 25px;
  width: 25px;
}
.supportOption_img {
  img {
    height: 100%;
    object-fit: contain;
  }
}
.supportOption {
  span {
    color: rgba(1, 0, 29, 0.6);
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: small;
  }
}
