@import "../media";
@import "../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.partner {
  display: flex;
  text-align: center;
  margin: 60px;
  flex-direction: column;
  @include for-size(phone-only) {
    margin: 20px;
  }
}
.partner > span {
  display: inline-block;
  color: #333333;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 25px;
  @include for-size(phone-only) {
    font-weight: 500;
    font-size: small;
  }
}
.partner_image_wrap {
  width: 80vw;
  margin: 2px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  .CompanyLogo {
    @include for-size(phone-only) {
      margin: 5px 14px;
      height: 17px;
    }
  }
}
