@import "../../media";
@import "../../function.scss";
/*
@include for-size(desktop-up) {
}

@include for-size(phone-only) {
}
@include for-size(tablet-portrait-up) {
}
*/
.button {
  width: 150px;
  height: 40px;
  padding: 0 20px;
  background-color: #462686;
  box-shadow: 10px 10px 24px rgba(35, 9, 88, 0.15);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-size(phone-only) {
    height: 25px;
    width: 85px;
    padding: 0 10px;
  }
  @include for-size(tablet-portrait-up) {
    width: 135px;
  }
}
.button > div,
.btnxm > div {
  color: white;
  font-size: small;
  font-weight: 500;
  background-color: transparent;
  padding-bottom: 1px;
  border: none;

  @include for-size(phone-only) {
    font-size: xx-small;
  }
}
.button > img {
  @include for-size(phone-only) {
    height: 6px;
    object-fit: contain;
  }
  @include for-size(tablet-portrait-up) {
    height: 9px;
    object-fit: contain;
  }
}

.btnxm {
  width: 120px;
  margin-left: 8px;
  height: 35px;
  padding: 0 20px;
  background-color: #462686;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnxm > img {
  height: 10px;
  object-fit: contain;
}
