* {
  box-sizing: border-box;
  margin: 0;
  font-family: Sofia Pro;
  text-decoration: none;
}

.flex_bc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_b {
  display: flex;
  justify-content: space-between;
}
